{% extends 'dashboard.html' %}

{% block conteudo %}

<h5 class="card-title pb-3">Posts</h5>

{{flash()}}

<div class="card border-0 shadow-sm">

    <div class="card-header bg-white border-0 d-flex justify-content-between align-itens-center">
        
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example" style="height: 30px; margin-left: 50px;margin-top: 10px;">
            <span class="btn btn-outline-secondary pe-none text-center fw-bold">{{total.total}} posts</span>
            <span class="btn btn-outline-success pe-none text-center fw-bold">{{total.ativos}} ativos</span>
            <span class="btn btn-outline-danger pe-none text-center fw-bold">{{total.inativos}} inativos</span>
        </div>

        
        <a href="{{url('admin/posts/cadastrar')}}" class="btn btn-dark">Cadastrar</a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">TÍTULO</th>
                        <th scope="col" class="text-center">STATUS</th>
                        <th scope="col" class="text-center">AÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th class="text-center">{{post.id}}</th>
                        <td>{{post.titulo}}</td>
                        <td class="text-center">
                            {% if post.status == 1 %}
                                <i class="fa-solid fa-circle" style="color: #63E6BE;"></i>
                            {% else %}
                                <i class="fa-solid fa-circle" style="color: #ff0000;"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a class="btn" href="{{url('admin/posts/editar/'~post.id)}}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a class="btn" href="{{url('admin/posts/deletar/'~post.id)}}"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock %}