{% extends 'base.html'%}

{% block conteudo %} 

<div class="container my-4 mb-5 pb-4" id="containerIndex">

    <div class="row">

        <div class="col-lg-9 col-md-12 overflow-y-visible" id="contentIndex">

            <!-- INÍCIO CARROUSEL --> 

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for slide in slides %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" {% if loop.index0 == 0 %} class="active" {%endif%} aria-current="true" aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    
                    {% for slide in slides %}

                    <div class="carousel-item {% if loop.index0 == 0 %}active{%endif%}">
                        <img src="{{url('uploads/imagens/'~slide.capa)}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-sm-block">
                            <div style="background-color: rgba(0,0,0,0.5)">
                                <h5>{{slide.titulo}}</h5>
                                <p>{{resumirTexto(slide.texto, 100)}}&nbsp;<a href="{{url('post/'~slide.slug)}}" class="text-white"><strong>(Clique aqui para saber mais)</strong></a></p>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- FIM CARROUSEL --> 

            <div class="row mt-4">   
                {% for post in posts %}
                <div class ="col-md-6 mb-4">

                    <div class="card h-100">
                        <div class="card-body">

                            <a href="{{url('post/'~post.slug)}}" data-toggle="tooltip" title="{{post.titulo}}" class="text-dark text-decoration-none">
                                <h5 class="card-title">{{post.titulo}}</h5>

                                <div class="d-flex justify-content-between my-2 text-muted">
                                    <small>{{ post.categoria.titulo |upper}}</small>
                                    <small>{{ contarTempo(post.cadastrado_em) }}</small>
                                </div>

                                {% if post.capa %}
                                <img class="capaMedia" src="{{url('uploads/imagens/'~post.capa)}}" alt="{{post.titulo}}" title="{{post.titulo}}"/>
                                {% endif %}

                                <p class="card-text">{{resumirTexto(post.texto, 150)}}</p>
                            </a>

                            {% if usuario().level == 3 %}
                            <div class="card-footer border-0 bg-transparent text-secondary text-end mt-2">
                                <a href="{{url('admin/posts/editar/'~post.id)}}" class="text-decoration-none me-2" style="color: inherit;">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="{{url('admin/posts/deletar/'~post.id)}}" class="text-decoration-none" style="color: inherit;">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                            {% endif %}


                        </div>
                    </div>
                </div>

                {%endfor%}

            </div> 
        </div> 

        <div class="col-lg-3">
            {%include'sidebar.html'%}
        </div>             

    </div>        


</div>  

{% endblock %}