{% extends 'base.html'%}

{% block conteudo %} 

<div class="container my-4 mb-5 pb-4 col">

    <div class="row">

        <div class="col-lg-9 mb-0">
            <h1>{{post.titulo}}</h1>

            <div class="my-2">
                <small class="text-muted">Por {{ post.usuario.nome }}, {{ post.cadastrado_em|date("d/m/Y") }} às {{ post.cadastrado_em|date("H:i") }} em {{ post.categoria.titulo }}</small>
            </div>

            <a data-fancybox href="{{url('uploads/imagens/'~post.capa)}}">
                <img class="capaMedia" src="{{url('uploads/imagens/'~post.capa)}}" alt="{{post.titulo}}" title="{{post.titulo}}"/>
            </a>

            <p class="pt-3">{{post.texto | raw}}</p>
            
        </div>

        <div class="col-lg-3 mb-4">
            {%include'sidebar.html'%}
        </div>   

    </div> 
</div>  

{% endblock %}