{% extends 'base.html'%}

{% block conteudo %} 

<div class="container mb-5 pb-5">
    <div class="container-fluid">
        <h1 class="mt-4 mb-2">Sobre</h1>
        <h4>O desenvolvedor por trás do projeto</h4>
        <div class="custom-carousel-container">
            <div class="d-flex justify-content-center mx-auto" style="width: 50%">
                <div id="carouselExampleRide" class="carousel slide text-center" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://glaucopereira.com" target="_blank"><img src="{{url('/uploads/imagens/1capa.jpg')}}" class="d-block custom-carousel-img" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.linkedin.com/in/glaucopereira/" target="_blank"><img src="{{url('/uploads/imagens/2capa.jpg')}}" class="d-block custom-carousel-img" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://github.com/gpereira86" target="_blank"><img src="{{url('/uploads/imagens/3capa.jpg')}}" class="d-block custom-carousel-img" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://glaucopereira.com/contato" target="_blank"><img src="{{url('/uploads/imagens/4capa.jpg')}}" class="d-block custom-carousel-img" alt="..."></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-block w-100 align-items-center mb5">
            <div class="fs-5 mb-5" style="text-align: justify;">
                <p class="mt-3">
                    Olá! Eu sou Glauco Pereira. <br> Sejam bem-vindos!.
                </p>    
                <p>
                    Eu tenho 38 anos, sou do Rio de Janeiro/Capital e estou em transição de carreira para a área de 
                    desenvolvimento.
                    <br>
                    Sou formado em Administração e hoje estudo Análise e Desenvolvimento de Sistemas.
                </p>
                <p>
                    Trabalhei em uma empresa de grande porte por mais de 18 anos, onde subi degrau a degrau, 
                    de operador de atendimento até analista de informações gerenciais pleno, quando encerrei meu ciclo nesta empresa.
                    <br>
                    Acredito que minha capacidade analítica e minha capacidade de trabalhar sob pressão, aliadas
                    à lógica, sejam um grande diferencial para qualquer projeto, pois sempre me permitem um olhar 
                    técnico e uma avaliação de impacto para o negócio ao mesmo tempo. <br>
                    Outro grande diferencial é ser autodidata, o que me permite aprender rapidamente os mais 
                    variados assuntos.
                </p>
                <p>
                    Possuo conhecimento em linguagens como Python, PHP, Java, JavaScript, entre outras. Tenho conhecimento
                    em HTML e CSS e também conheço alguns bancos de dados, como MySQL, PostgreSQL, MongoDB, entre outros.
                    <br>
                </p>
                <p>
                    Inclusive neste projeto foram usados: PHP, HTML, CSS e JavaScript.
                </p>
                <p>
                    Como mencionado, busco ingressar na área de desenvolvimento e estou sempre aprofundando meus 
                    conhecimentos em linguagens e tecnologias relevantes para isso. Estou receptivo às oportunidades 
                    que me permitam aplicar minhas habilidades.
                </p>

                <hr class="mt-4"><!-- comment -->

                <div>
                    <h3>O projeto:</h3>
                    <p class="mt-3"> 
                        O projeto blog foi feito em ambiente acadêmico, através do curso de PHP ministrado pelo ilustríssimo 
                        <a href="https://www.udemy.com/user/ronaldo-aires-da-silva/" target="_blank" class="text-decoration-none">
                            <span class="badge text-bg-dark">Ronaldo Aires</span>
                        </a>,
                        porém como o intuito deste projeto é permitir a visualização do "todo" do desenvolvimento, algumas
                        modificações foram necessárias para restringir inserções e/ou remoções indevidas ou em demasia, o que
                        me permitiu desenvolver um pouco mais do que foi ministrado no curso.
                    </p>
                    <p>
                        Bom, espero que curta meu trabalho (incluindo as modificações mencionadas).
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}
