<input type="checkbox" class="menu-faketrigger" id="button-menu" />
<!-- O "macete" do gatilho falso (faketrigger) somente funciona para itens na mesma hierarquia do input onde o chekbox está -->

<div class="menu-lines" id="menu">    
    <span></span>
    <span></span>
    <span></span>
</div>

<ul>
    <li>
        <a href="{{url('admin/dashboard')}}">
            <div>
                <i class="fa-solid fa-house"></i> {{constant('SITE_NOME')}}
            </div>            
        </a>
        <hr>
    <li>
    <li>
        <a href="{{url('admin/posts/listar')}}">
            <i class="fa-solid fa-file-pen"></i>Posts
        </a>
    </li>
    <li>
        <a href="{{url('admin/categorias/listar')}}">
            <i class="fa-solid fa-list"></i> Categorias
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa-solid fa-users"></i>Usuários
        </a>
        <hr>
    </li>
</ul>




 


  