<div class="sidebar">
    <input type="checkbox" id="menu-toggle" class="visually-hidden" />

    <div class="sidebar-container height-menus-b">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <div class="sidebarLogo">
                <a class="text-decoration-none text-white" href="{{url('admin/dashboard')}}" data-bs-toggle="tooltip" title="Página Inicial">
                    <div class="logo text-decoration-none text-white">
                        <i class="fa-solid fa-house"></i> {{constant('SITE_NOME')}}
                    </div>            
                </a>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{url('admin/posts/listar')}}" class="nav-link text-decoration-none text-white" aria-current="page">
                        <i class="fa-solid fa-file-pen"></i>
                        Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{url('admin/categorias/listar')}}" class="nav-link text-decoration-none text-white" aria-current="page">
                        <i class="fa-solid fa-list"></i>
                        Categorias
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{url('admin/usuarios/listar')}}" class="nav-link text-decoration-none text-white" aria-current="page">
                        <i class="fa-solid fa-users"></i>
                        Usuários
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>
  