
<div class="dropdown-div">
    <div class="dropdown-menu-nav">
        <div class="dropdown-menuToggle"></div>
        <div class="dropdown-perfil">
            <h3>{{usuario().nome}}<br><span>{{usuario().email}}</span></h3>

            <div class="imgCx">
                <img src="{{ url(usuario().link_img) }}" alt=""/>
            </div>
        </div>

        <div class="dropdown-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-regular fa-circle-user"></i>
                        Perfil
                    </a>
                </li>

                <li>
                    <a href="{{ url('admin/sair') }}">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Deslogar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>