<header class="bg-white header-container">
    
    
<!--    <label for="menu-toggle" id="menu-button" class="height-menus">
        <i class="fa-solid fa-bars-staggered" data-bs-toggle="tooltip" title="MENU"></i>
    </label>-->


    <div class="btn-group mb-2 height-menus shadow-sm">
        <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-user me-2"></i> Glauco Pereira
        </button>

        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
                <a class="dropdown-item text-black" href="#" data-bs-toggle="tooltip" title="Perfil">
                    Perfil
                </a>
            </li>

            <li>
                <a class="dropdown-item text-danger" href="#" data-bs-toggle="tooltip" title="Sair do Sistema">
                    Sair
                </a>
            </li>
        </ul>
    </div>  
    
    
</header>


