
<div class="dropdown-div">
    <div class="dropdown-menu-nav">
        <div class="dropdown-menuToggle"></div>
        <div class="dropdown-perfil">
            <h3>{{usuario().nome}}<br><span>{{usuario().email}}</span></h3>

            <div class="imgCx">
                <img src="{{ url('templates/admin/assets/img/'~usuario().link_img) }}" alt=""/>
            </div>
        </div>

        <div class="dropdown-menu">
            <ul>
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#myModal">
                        <i class="fa-regular fa-circle-user"></i>
                        Perfil
                    </a>
                </li>

                <li>
                    <a href="{{ url('admin/sair') }}">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Deslogar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">{{usuario().nome}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="align-items-center text-center">
                    <img class="align-items-center img-responsive " src="{{ url('templates/admin/assets/img/'~usuario().link_img) }}" alt="" style="border-radius: 50%; max-width: 350px;"/>
                </div>
                <div class="mt-5 mb-3 mx-3">
                    <h5>E-mail:&nbsp <strong>{{usuario().email}}</strong></h5> 
                    <h5>Level:&nbsp&nbsp 
                        <strong>
                            {% if usuario().level == 3 %}
                            <span style="color: red;">Administrador</span>
                            {% elseif usuario().level == 2 %}
                            <span style="color: purple;">Júnior</span>
                            {% else %}    
                            <span>Usuário</span>
                            {% endif %}
                        </strong>
                    </h5> 
                    <h5>Status:&nbsp
                        <strong>
                            {% if usuario().status == 1 %}
                            <span>Ativo</span>
                            {% else %}    
                            <span style="color: red;">Inativo</span>
                            {% endif %}
                        </strong>
                    </h5> 
                    <h5>Data de Inclusão: <strong style="margin-left: 1ch;">{{usuario().cadastrado_em|date("d/m/Y H:i")}}</strong></h5> 
                    <h5>Atualizado em:  <strong style="margin-left: 3.3ch;">{{usuario().atualizado_em|date("d/m/Y H:i")}}</strong></h5> 
                    <h5>Último Login: <strong style="margin-left: 5.5ch;">{{usuario().ultimo_login|date("d/m/Y H:i")}}</strong></h5> 

                </div>
            </div>

            <div class="modal-footer">
                {% if usuario().level == 3 %}
                <a href="{{url('admin/usuarios/editar/'~usuario().id)}}"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" ><strong>Editar</strong></button></a>
                {% endif %}
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><strong>Fechar</strong></button>
            </div>

        </div>
    </div>
</div>


