/* styles.css */

/*zerando configurações padrão do HTML*/
*{
    margin:0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
    
}

/*Cores e fontes do corpo todo*/
body {
    display: flex;
    min-height: 100vh;
    font-family: 'Century Gothic', sans-serif;
    position: relative; /* Adicionando posicionamento relativo para o body */
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra na parte inferior da faixa */
    background-image: linear-gradient(to bottom, #fff 85px, rgba(245, 245, 245, 0.5) 85px, rgba(245, 245, 245, 0.5) 0%);
    background-size: 100% auto; /* Cobrir 100% da largura, altura automática */
}


.main-content {
    flex: 1;  /* Ocupa o restante do espaço disponível */
    overflow-y: auto;  /*Adiciona barra de rolagem vertical se necessário */
    width: 100%;
    padding: 100px 100px;
    
}

/* Estilo para o cabeçalho */
.titulo-topo{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px; /*Tamanho da fonte, ajuste conforme necessário*/
    font-weight: bold; /*Peso da fonte, ajuste conforme necessário*/
    
}


footer {
  position: fixed;
  background:#fff;
  width: 100%; /* Largura da página menos a largura do menu */
  height: 40px;
  bottom: 0;
  left: 0; /* Alinha o footer à direita */
  padding: 10px;
  z-index: 100;
  box-shadow: 10px 0 10px rgba(0,0,0,.1);
}

.espacar {
margin-right: 15px;  /*Ajuste o valor conforme necessário para o espaçamento desejado*/
}
